@model ManagementViewModel
@{
    ViewData["Title"] = "Management";
}

@foreach (var category in Model.Categories)
{
    <span>---</span>
    <div>
        <label>@category.Name</label>
    </div>
    @foreach (var product in category.Products)
    {
        <div>
            <label>@product.Name</label>
        </div>
        
    }
    <span>---</span><br />
}

<form method="post">
    <div>
        <span asp-validation-for="AddCategoryRequest.Name" class="text-danger"></span>
        <label asp-for="AddCategoryRequest.Name">New Category Name:</label>
        <input asp-for="AddCategoryRequest.Name" type="text" />
    </div>
    <button type="submit">Add Category</button>
</form>
