@model ManagementViewModel
@{
    ViewData["Title"] = "Management";
}

@foreach (var category in Model.Categories)
{
    <span>---</span>
    <div>
        <label>@category.Name</label>
    </div>
    @foreach (var product in category.Products)
    {
        <div>
            <label>@product.Name</label>
        </div>
        
    }
    <span>---</span><br />
}