@model AccountViewModel
@{
    ViewData["Title"] = "Login";
}

<form method="post">
    <div>
        <span asp-validation-for="AccountRequest.Account.UserName" class="text-danger"></span>
        <label asp-for="AccountRequest.Account.UserName">Username:</label>
        <input asp-for="AccountRequest.Account.UserName" type="text" />
    </div>
    <div>
        <span asp-validation-for="AccountRequest.Account.CurrentPassword" class="text-danger"></span>
        <label asp-for="AccountRequest.Account.CurrentPassword">Password:</label>
        <input asp-for="AccountRequest.Account.CurrentPassword" type="password" />
    </div>
    <button type="submit">Login</button>
</form>