@model AccountLoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Welcome</h2>
                        <div class="d-flex justify-content-center mb-4">
                            <img src="~/images/MealOrderingLogo.png" alt="LOGO" class="rounded-circle" width="100">
                        </div>
                        <form method="post">
                            <div class="form-group mb-1">
                                <span asp-validation-for="AccountLoginRequest.UserName" class="text-danger"></span>
                                @*<label asp-for="AccountRequest.UserName">Username:</label>*@
                                <div class="input-group">
                                    <input type="text" asp-for="AccountLoginRequest.UserName" class="form-control" id="username" placeholder="Username" />
                                </div>
                            </div>
                            <div class="form-group mb-1">
                                <span asp-validation-for="AccountLoginRequest.CurrentPassword" class="text-danger"></span>
                                @*<label asp-for="AccountRequest.CurrentPassword">Password:</label>*@
                                <div class="input-group">
                                    <input type="password" asp-for="AccountLoginRequest.CurrentPassword" class="form-control" id="password" placeholder="Password" />
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary w-100">Login</button>
                            </div>
                            <div class="text-center mt-4">
                                <a href="#" class="text-muted">Forgot Username / Password?</a>
                            </div>
                            <div class="text-center mt-4">
                                <span class="text-muted">Don't have an account?</span>
                                <a asp-action="Register" class="ml-2">Register</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>