@model GetOrdersRequest
@{
    ViewData["Title"] = "Order List";
    bool cartExists = false;
}

<h1>View Cart:</h1>

<!-- Show the cart as the top order -->
@foreach (var order in Model.Orders)
{
    if (order.Status == "Cart")
    {
        <div class="row">
            <a class="btn btn-primary mb-4" asp-action="View" asp-route-OrderId=@order.OrderId>@order.Status</a>
        </div>
    }
    else if (order == Model.Orders.Last() && cartExists == false)
    {
        <h4>@order.Username does not currently have a cart.</h4>    
    }
}

<h1>Order History:</h1>

<!-- Show the rest of the orders -->
@foreach (var order in Model.Orders.Reverse())
{
    if (order.Status != "Cart")
    {
        <div class="row">
            <div class="card mb-4">
                <a class="text-decoration-none" asp-action="View" asp-route-OrderId=@order.OrderId>
                    <div class="card-body">
                        <h5 class="card-title">Order ID: @order.OrderId</h5>
                        <p class="card-text">Order Status: @order.Status<p>
                    </div>
                </a>
            </div>
        </div>
    }
}