@model GetOrdersRequest
@{
    ViewData["Title"] = "Order List";
}


<!-- Show the cart as the top order -->
@foreach (var order in Model.Orders)
{
    if (order.Status == "Cart")
    {
        <div class="row">
            <a class="btn btn-primary mb-4" asp-action="View" asp-route-OrderId=@order.OrderId>@order.Status</a>
        </div>
    }
}

<h1>Order History:</h1>

<!-- Show the rest of the orders -->
@foreach (var order in Model.Orders.Reverse())
{
    if (order.Status != "Cart")
    {
        <div class="row">
            <a class="btn btn-secondary mb-4" asp-action="View" asp-route-OrderId=@order.OrderId>@order.OrderId</a>
        </div>
    }
}