@model ICollection<Category>
@{
    ViewData["Title"] = "Menu Categories";
}

<h1 class="text-center pb-1">Menu Categories</h1>


@foreach (var category in Model)
{
    <div class="row">
        <h2 class="pb-2">@category.Name</h2>
        <partial name="_CategoriesPartial" model="@category" />
    </div>
}