@model ICollection<Category>
@{
    ViewData["Title"] = "Menu Categories";
}

<h1 class="align-content-center">Menu Categories</h1>


@foreach (var category in Model)
{
    <div class="row">
        <h1>@category.Name</h1>
        <partial name="_CategoriesPartial" model="@category" />
    </div>
}