@model ICollection<Category>
@{
    ViewData["Title"] = "Menu Categories";
}

<h1 class="text-center pb-1">Menu Categories</h1>

<!-- First check if there is a category called "Specials", if there is, add it as the first category to the menu. -->
@foreach (var category in Model)
{
    if (category.Name.Equals("Specials"))
    {
        <div class="row">
            <h2 class="pb-2">@category.Name</h2>
            <partial name="_CategoriesPartial" model="@category" />
        </div>
    }
}

@foreach (var category in Model)
{
    if (!category.Name.Equals("Specials") && category.IsDeleted == false)
    {
        <div class="row">
            <h2 class="pb-2">@category.Name</h2>
            <partial name="_CategoriesPartial" model="@category" />
        </div>     
    }
}