@model AccountViewModel
<!--Partial start-->
<div class="form-group mb-1">
    <span asp-validation-for="AccountRequest.NewPassword" class="text-danger"></span>
    @*<label asp-for="AccountRequest.NewPassword">New Password:</label>*@
    <div class="input-group">
        <input type="password" asp-for="AccountRequest.NewPassword" class="form-control" id="newpassword" placeholder="New Password" />
    </div>
</div>
<div class="form-group mb-1">
    <span asp-validation-for="AccountRequest.ConfirmNewPassword" class="text-danger"></span>
    @*<label asp-for="AccountRequest.ConfirmNewPassword">Confirm New Password:</label>*@
    <div class="input-group">
        <input type="password" asp-for="AccountRequest.ConfirmNewPassword" class="form-control" id="confirmnewpassword" placeholder="Confirm New Password" />
    </div>
</div>
<!--Partial end-->