@model AccountViewModel
<!--Partial start-->
<div>
    <span asp-validation-for="AccountRequest.Account.NewPassword" class="text-danger"></span>
    <label asp-for="AccountRequest.Account.NewPassword">New Password:</label>
    <input asp-for="AccountRequest.Account.NewPassword" type="password" />
</div>
<div>
    <span asp-validation-for="AccountRequest.Account.ConfirmNewPassword" class="text-danger"></span>
    <label asp-for="AccountRequest.Account.ConfirmNewPassword">Confirm New Password:</label>
    <input asp-for="AccountRequest.Account.ConfirmNewPassword" type="password" />
</div>
<!--Partial end-->