@model AccountLoginViewModel
@{
    ViewData["Title"] = "Login";
}

<form method="post">
    <div>
        <span asp-validation-for="AccountLoginRequest.Username" class="text-danger"></span>
        <label asp-for="AccountLoginRequest.Username">Username:</label>
        <input asp-for="AccountLoginRequest.Username" type="text" />
    </div>
    <div>
        <span asp-validation-for="AccountLoginRequest.Password" class="text-danger"></span>
        <label asp-for="AccountLoginRequest.Password">Password:</label>
        <input asp-for="AccountLoginRequest.Password" type="password" />
    </div>
    <button type="submit">Login</button>
</form>
